@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Project Styles */

body {
    background: linear-gradient(180deg,#90F2EC, #EAF98E);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    padding: 1rem;
}

.card {
    background-color: #fff;
    width: 310px;
    height: 350px;
    padding: 5px;
}

.color {
    background-color: #fff;
    width: 300px;
    height: 300px;
}

p {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.buttons {
    padding: 1rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

button:hover {
    background-color: #000;
    color: #fff;
}